@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;

}
/* NAVIGATION BAR */
.Navigation{
    background-color: hsl(0, 0%, 0%);
    padding: 15px 20px;
    box-shadow: 5px 5px 4px black;
}
.Nav-bar{
    display: flex;
    justify-content: space-between;
    font-family: Inter;
    color: white;
}
.Nav-bar a{
    text-decoration: none;
    color: white;
    padding: 12px 10px 12px 10px;
}
.Nav-bar a:hover{
    background-color: lightgray;
    color: black;
}
.icon i{
    cursor: pointer;
    max-height: fit-content;
}
/* HERO SECTION */
.Hero{
    background-image: url(Images/pexels-chaitaastic-1823681.jpg);
    background-size: cover;
    height: 600px;
    margin-bottom: 100px;
}
.Hero-section{
    text-align: center;
    color: white;
    padding-top: 550px;
    font-weight: bold;
    font-family: Inter;
}
/* BODY */
.Body{
    text-align: center;
    padding: 0px 150px 0px 150px;
    margin-bottom: 90px;
}
.Body-content h2{
    margin-bottom: 16px;
    font-family: Montserrat;
    font-weight: 700;
}
.Body-content p{
    font-family: Inter;
}
.Body-content h3{
    font-size: 38px;
    color: hsl(0, 0%, 55%);
    font-family: Tangerine;
    margin-bottom: 15px;
}
.Body-images{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.Body-images span img{
    width: 250px;
    height: 200px;
    margin: 0px 20px 0px 20px;
    border-radius: 10px;
}
.Body-images span h4{
    margin-bottom: 15px;
}
/* TOUR DATES */
.Tour{
    background-color: black;
    padding: 50px 0px 50px 0px;
    margin-bottom: 80px;
}

.Tour-content .Tour-heading{
    text-align: center;
}
.Tour-content .Tour-heading h2{
    font-family: Inter;
    margin-bottom: 15px;
    color: white;
}
.Tour-content .Tour-heading p{
    font-size: 30px;
    font-weight: 700;
    color: hsl(0, 0%, 55%);
    font-family: Tangerine;
}
.Tour-table{
    width: 890px;
    border: 1px solid hsl(0, 0%, 63%);
    margin: 20px 250px 20px 250px;
    background-color: white;
}
.Tour-table p{
    margin-left: 15px;
    padding: 10px 0px 10px 0px;
    font-family: Inter;
    color: hsl(0, 0%, 55%);
    font-weight: 400;
}
.Tour-place{
    max-width: 300px;
    margin-left: 90px;
    background-color: white;
}
.Tour-places{
    display: flex;
    max-width: 900px;
    margin: 30px 0px 0px 170px;
}
.Tour-place img{
    width: 230px;
    height: 190px;
}
.Tour-place h5{
    margin: 12px 0px 12px 9px;
    font-size: 16px;
}
.Tour-place #Date{
    color: hsl(0, 0%, 49%);
    font-family: Inter;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0px 10px 9px;
}
.Tour-place p{
    margin: 0px 0px 10px 9px;
    font-family: Inter;
    font-size: 14px;
}
.Tour-place button{
    font-family: Inter;
    font-size: 15px;
    background-color: black;
    color: white;
    padding: 8px 12px 8px 12px;
    margin: 0px 0px 10px 9px;
    border: none;
    cursor: pointer;
}
.Tour-place button:hover{
    background-color: hsl(0, 0%, 83%);
    color: black;
}
/* CONTACT */
.Contact{
    margin-top: 100px;
    margin-bottom: 100px;
}
.Contact-content{
    display: flex;
    justify-content: space-between;
    margin: 50px 300px 0px 300px;
}
.Contact-section-heading{
    text-align: center;
}
.Contact-section-heading h2{
    margin-bottom: 20px;
    font-family: sans-serif;
}
.Contact-section-heading p{
    color: darkgray;
    font-family: sans-serif;
    margin-bottom: 20px;
}
.Contact-info{
    font-family: Inter;
    line-height: 30px;
}
.Contact-form input{
    font-family: Inter;
    font-size: 16px;
    padding: 5px 0px 5px 5px;
}
.Contact-bar input{
    width: 460px;
    padding: 5px 0px 5px 5px;
    font-family: Inter;
    font-size: 16px;
    margin-top: 15px;
}
#Contact-form-button{
    display: flex;
    justify-content: flex-end;
    margin-right: 302px;
}
#Contact-form-button button{
    font-family: Inter;
    font-size: 16px;
    padding: 8px 10px;
    margin-top: 6px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}
#Contact-form-button button:hover{
    background-color: hsl(0, 0%, 83%);
    color: black;
}
/* FOOTER */
.Footer{
    margin-bottom: 50px;
}
.Footer-image img{
    width: 1351px;
    margin-bottom: 60px;
}
.Footer-icons{
    text-align: center;
}
.Footer-icons i{
    font-size: 20px;
}
.fa-brands.fa-square-facebook{
    color: blue;
}
.fa-brands.fa-instagram{
    color: hsl(330, 86%, 54%);
}
.fa-brands.fa-snapchat{
    color: rgb(207, 207, 5);
}
.fa-brands.fa-pinterest-p{
    color: hsl(0, 100%, 50%);
}
.fa-brands.fa-twitter{
    color: hsl(240, 73%, 58%);
}
.fa-brands.fa-linkedin-in{
    color: hsl(197, 89%, 57%);
}
.Footer-icons p{
    font-family: Inter;
    margin-top: 6px;
    color: lightslategray;
}

